.newTask__container {
  display: none;

  &_opened {
    display: block;
    top: 0;
    left: 0;
    height: 90vh;
    position: fixed;
    z-index: 3;

    .formulary__input {
      margin-top: 36px;
    }
  }

}
