.notAuthorized__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $alert-red;
  width: calc(100% - 20px);
  height: 20vh;
  text-align: center;
  transition: all .5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-weight: 400;

  h1 {
    font-size: 16px;
    color: $text-offwhite;
  }
}