.loginPage__newUser {
  display: flex;
  justify-content: right;
  font-size: 12px;
  margin: 0 18px;
  color: $text-normal;
  text-decoration: none;

  &_signUp {
      color: $text-title;
      margin-left: 5px;
      text-decoration: underline;
  }
}

.loginPage__formContainer {
  display: flex;
  flex-direction: column;
  @media(min-width: 768px) {
    margin-top: 20px;
  }
}
