.newUser__buttons_container {
  display: flex;
  align-items: center;

  a {
    height: 38px;
    display: flex;
    align-items: center;
    max-height: 40px;
    margin-right: 16px;
    width: 100%;
    justify-content: center;
    text-decoration: none;
  }
  button {
    margin-left: 16px;
    width: 100%;
  }
}