.taskList__container {
  margin: 24px 0px 24px 16px;
}
.taskList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskList__item_title {
  color: $text-normal;
  font-size: 14px;
}
.taskList__item_buttonsContainer {
  a {
    margin: 0 4px;
  }
}
.taskList__noTasks {
  margin-top: 24px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
  color: $text-title;
}
.taskList__searchTasks_container {
  margin-top: 16px;
}