@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  margin: 0;
  padding: 0;
}


body{
  background: #1A1A1A !important;  
}

.wrong{
  background: #ce2525 !important;
  color: #fff !important;
}

.warning{
  background: #c6c6c6 !important;
  color: #000 !important;
}

.success{
  background: #00a873 !important;
  color: #fff !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}