.formulary__container_title {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 32px;
  color: $text-title;
}
.formulary__container {
  display: flex;
  flex-direction: column;
  border: 1px solid $border;
  border-radius: 8px;
  margin: 24px 12px 4px;
  padding: 20px;
  background: $background-greenlight;
}
.formulary__label {
  margin-bottom: 10px;
}
.formulary__title {
  letter-spacing: 1px;
  margin: 10px 0 8px 18px;
  font-size: 18px;
  font-weight: 700;
  color: $text-title;
  text-align: left;
  @media (min-width: 768px) {
    text-align: center;
  }
}
.formulary__input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid $border;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: $text-normal;
  min-width: 250px;

  &::placeholder {
    color: $text-normal;
  }

  @media (max-width: 340px) {
    min-width: 200px;
  }
}

.formulary__button {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  margin: 15px 16px 0 auto;
  color: $text-title;
  border: 1px solid $border;
  background: $background-offwhite;
  letter-spacing: 1px;
  
  @media (min-width: 768px) {
    margin-right: auto;
  }
}