.formulary__container_title {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 32px;
  color: $text-title;
}
.formulary__container {
  display: flex;
  flex-direction: column;
  border: 1px solid $border;
  border-radius: 8px;
  margin: 24px 12px 4px;
  padding: 20px;
  background: $background-greenlight;
}
.formulary__label {
  display: block;
  max-width: 400px;
  margin: 0 auto 10px auto;
  width: 100%;
}
.formulary__title {
  letter-spacing: 1px;
  margin: 10px 0 8px 0px;
  font-size: 18px;
  font-weight: 700;
  color: $text-title;
  text-align: left;
  // @media (min-width: 768px) {
  //   text-align: center;
  // }
}
.formulary__input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid $border;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: $text-normal;
  max-width: 400px;
  width: 100%;

  &::placeholder {
    color: $text-normal;
  }
}

.formulary__button {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  margin: 15px 0px 0 auto;
  color: $text-title;
  border: 1px solid $border;
  background: $background-offwhite;
  letter-spacing: 1px;
  
  @media (min-width: 768px) {
    margin-right: auto;
  }
}