html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html,
section,
p,
div,
button,
h1,h2,h3,h4,h5,h6,
ol,li,ul {
  margin: 0;
  padding: 0;
  border:0;
  background: none;
}

body {
  text-align: center;
  background: $background-offwhite;
  margin: 10px;
  max-width: 980px;
  margin: auto;
}

a, button {
  cursor: pointer;
}