$background-green: #C0D1BD;
$background-greenlight: #DCE2DB;
$background-white: #FFFFFF;
$background-offwhite: #fcf9f6;

$text-title: #7F7A72;
$text-normal: #A3A2A1;
$text-white: #FFFFFF;
$text-offwhite: #fcf9f6;


$border: #C0D1BD;

$alert-red: #ff0f0f;
$alert-green: #76d166;

$button-red: #cf0c0c;
$button-green: #a3d79a;